body{
    
    margin: 0px;
}
#main{
width: 718px;
height: 561px;

background-image: url("imac12.jpg");
padding:50px 315px 50px 315px; 
background-attachment: fixed;
}
#mid{
   
    width:700px;
    height: 400px; 
    
}

p{
    margin-bottom:5px; 
    color: white;
    font-size: 30px;
}
fieldset{
    border-radius: 15px;
}
.tb{
     
    height: 35px;
    width: 300px;
    font-size:25px; 
    border-radius:10px; 
}
.btn{
    border-radius: 10px;
    height: 30px;
    width: 100px;
    background-color: #007bff;;
    border-color: #6c757d;
    float: right;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color: white;

}
h1{
    color: wheat;
}
a{
    font-size: 20px;
}
#loginbtn{
    background-color: #28a745;
    border-color: #343a40;
    color: white;
}