#nav{
    background-color:white ;
    border-color: #87CEFA;
    height: 100px;
    
    
}
#anc{
    font-size: 30px;
}
#selector{
    border-color: 	#00FF7F;
}
footer{
    height: 50px;
 border-color: #87CEFA;   
}